<mat-card>



  <form (submit)="onAdd(addForm)" #addForm="ngForm">




    <mat-form-field>
      <input matInput name="bookName" ngModel type="text" placeholder="Book-Name" #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput">please enter a valid book name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="authorName" ngModel type="text" placeholder="Author-Name" #authorInput="ngModel" required>
      <mat-error *ngIf="authorInput.invalid">please enter a valid author name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="bookPrice" ngModel type="number" placeholder="price" #priceInput="ngModel" required>
        <mat-error *ngIf="priceInput.invalid">please enter a valid price</mat-error>
      </mat-form-field>

    <mat-form-field>
        <input matInput name="bookImageUrl" ngModel type="text" placeholder="imageUrl" >

      </mat-form-field>

    <mat-form-field>
        <mat-select  [(ngModel)]="selectedCondition" [ngModelOptions]="{standalone: true}" placeholder="Select Book Condition"  required>

          <mat-option value="New">New</mat-option>
          <mat-option value="Almost New">Almost New</mat-option>
          <mat-option value="Slight Damage">Slight Damage</mat-option>
          <mat-option value="Worn">Worn</mat-option>

        </mat-select>

      </mat-form-field>






    <button mat-raised-button color="accent" type="submit">Add Listing</button>
  </form>
</mat-card>
